# {{ ansible_managed }}
syslog={{ ddclient_syslog }}
ssl={{ ddclient_ssl }}
use={{ ddclient_use }}
protocol={{ ddclient_protocol }}
server={{ ddclient_server }}
login={{ ddclient_login }}
password={{ ddclient_password }}
{% if ddclient_subdomain is defined %}
{{ ddclient_subdomain }}
{% endif %}
